@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'chulabhornlikit', sans-serif;
  }
   
  h1, h2, h3, h4, h5, h6 {
      font-family: 'lineseed', sans-serif;
    font-weight: 700;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5;
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;
  }
  blockquote {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  figure {
    margin: 0;
    width: 100%;
    overflow-wrap: break-word;
  }
  figcaption {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  iframe {
    width: 100%;
    border: none;
    overflow-wrap: break-word;
    width: 100%;
  }
  
  em {
    font-weight: 700;
    overflow-wrap: break-word;
    width: 100%;
  }
  
  cite {
    font-weight: 700;
    overflow-wrap: break-word;
    width: 100%;
  }
  svg {
      fill: currentColor;
  }
      @media (max-width: 767px) {
    .nav-open #nav {
      max-height: 100vh;
    }
    .nav-open .i-close {
      opacity: 1;
    }
    .nav-open .i-open {
      opacity: 0;
    }
  }