---
import Layout from '../layouts/Layout.astro';
import Archive from '../components/Archive.astro';
---

<Layout title="ARTIJO • BLOG - บันทึกของไอ้อาร์ต">
		<h2 class="text-3xl font-bold text-center pb-[16px]">บันทึกของไอ้อาร์ต</h2>
		<Archive  />
</Layout>

