---
import Card from './Card.astro'
import { getCollection, getEntry } from 'astro:content';

const posts = await getCollection('posts');
console.log(posts);

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection('posts');
  // Return a paginated collection of paths for all posts
  return paginate(posts, { pageSize: 10 });
}

---
<div class="px-[16px] mx-auto grid  max-w-[1120px] grid-cols-1 gap-4 md:grid-cols-2 md:gap-5 lg:grid-cols-3">
    {posts.map((post: any) => (
              <Card slug={post.slug} feature_image={post.data.thumbnail} title={post.data.title} />
    ))}
</div>