---
import Menu from './ui/Menu.astro'
import X from './ui/X.astro'
import Nav from './Nav.astro';
import Mode from './Mode.astro';

const nav = [
    { name: 'Privacy Policy', link: 'https://privacy.artijo.com' },
    { name: 'About', link: 'https://about.artijo.com' },
  ];
---

<header class='fixed top-0 z-50 flex w-full flex-wrap md:top-2 md:flex-nowrap md:justify-start md:px-4'>
    <nav
      class='relative mx-2 mt-3 min-h-11 w-full rounded-[22px] bg-white/90 px-5 shadow-md shadow-gray-800/5 ring-1 ring-gray-900/5 backdrop-blur dark:bg-slate-700/80 md:mx-auto md:flex md:max-w-max md:items-center md:justify-between md:rounded-full md:px-6 md:py-0'
      aria-label='Global'
    >
      <div class='flex min-h-11 items-center justify-between'>
        <a
          class='flex items-center gap-2 font-bold dark:text-white md:text-xl'
          href='/'
          aria-label='Brand'
        >
          <h1 class='w-max text-lg'>ARTIJO • BLOG</h1>
      </a>
        <button
          id='navtoggle'
          class='relative h-6 w-6 md:hidden'
          title='Toggle Menu'
        >
        <div class='i-open pointer-events-none absolute  top-0 transition-all'>
          <Menu />
        </div>
        <div class='i-close pointer-events-none absolute top-0 opacity-0 transition-all'>
          <X />
        </div>
        </button>
      </div>
      <div
        id='nav'
        class='duration-600 max-h-0 grow basis-full overflow-hidden transition-all md:block md:max-h-none'
      >
        <div class='mb-4 mt-2 flex flex-col gap-x-0 gap-y-4 md:my-0 md:mt-0 md:flex-row md:items-center md:justify-end md:gap-x-7 md:gap-y-0 md:pl-8 '>
          <Nav nav={nav} />
          <Mode />
        </div>
      </div>
    </nav>
  </header>
