---
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="th">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "51cf8f0dbaf24352b7c100ce69ec7414"}'></script>
		<script lang="js" src="js/nav.js"></script>
	</head>
	<body class="min-h-screen bg-slate-100 antialiased">
		<main class="lg:pt-[100px] pt-[90px] md:pt-[120px] sm:px-[16px] pb-[90px]">
			<Header /> 
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@tailwind base;
@tailwind components;
@tailwind utilities;
	@media (max-width: 767px) {
  .nav-open #nav {
    max-height: 100vh;
  }
  .nav-open .i-close {
    opacity: 1;
  }
  .nav-open .i-open {
    opacity: 0;
  }
}
</style>